#player{
    -fx-background-radius: 1em;
    -fx-background-color: main-color-lighten-2;
}
.details{
    sizetime: 20px;
    -fx-padding: 1em;
    -fx-alignment: center-left;
    -fx-min-width:0;
    -fx-pref-width:0;
}
#songName{
    -fx-font-size: 3em;
    -fx-text-fill:main-color-lighten-10;
    -fx-font-family:"Inter Medium";
    -fx-stroke:transparent;
    -fx-stroke-width:0;
}
#artistName{
    -fx-font-size: 2em;
    -fx-font-family:"Inter Medium";
    -fx-text-fill:main-color-lighten-8;
}
.timeAndButtons{
    -fx-font-family:"Courier";
    -fx-min-width:0;
    -fx-spacing: 2em;
}
.timeAndButtons .time{
    -fx-font-size: 1.5em;
    -fx-alignment: center-left;
}

.timeAndButtons .buttons{
    -fx-alignment:center;
    -fx-spacing:1em;
}
.details{
    -fx-spacing: size2-rel;
}

.details .sliders{
    -fx-alignment:center;
    -fx-spacing: size1;
}

.sliders .pretty-slider{
    main-size: size1;
    -fx-padding:0;
    -fx-margin:0;
}
#player #timeStatus{
    bg-color: main-color-lighten-4;
    main-color:orange;
}
.playerButtons{
    -fx-fill-height:true;
    -fx-alignment:center;
    -fx-view-order:-1;
    -fx-padding: 1em;
    -fx-background-color: main-color-lighten-1;
    -fx-effect: dropshadow(
        three-pass-box,
        main-color,
        2, 0, 0, 0
    );
}
.playerButtons Button {
    -fx-background:transparent;
    -fx-background-radius: 20px;
    -fx-text-fill: main-color-darken-3;

    transition-property:-fx-scale-x, -fx-scale-y;
    transition-duration: 0.2s;
    -fx-border-color:main-color;
    -fx-border-width:2;
    -fx-border-radius:20px;
    -fx-effect: dropshadow(
            three-pass-box,
            main-color,
            5, 0, -2, 0
        );
}

.playerButtons Button:hover {
    -fx-scale-y:1.1;
    -fx-scale-x:1.1;
}

.button.pause{
    -fx-background-color:main-color-saturated;
    -fx-text-fill: main-color-lighten-3;
    -fx-font-size:1.5em;
    -fx-border-width:0;
}

.buttons{
}
.buttons .button{
    -fx-content-display:center;
    -fx-background-color:transparent;
    -fx-background:transparent;
    -fx-text-fill: main-color-lighten-9;
    -fx-min-height:20px;
    -fx-max-height:2em;
}

.button:hover{
    -fx-background-color: main-color-lighten-4 !important;
}

.ikonli-font-icon{
    -fx-icon-color:main-color-lighten-8;
    -fx-font-size: 1.5em;
    -fx-icon-size: 1em;
}

#btnPrevious .ikonli-font-icon{
    -fx-icon-code:mdsmz-skip_previous;
}
#btnNext .ikonli-font-icon{
    -fx-icon-code:mdsmz-skip_next;
}
#loopBtn .ikonli-font-icon,
#loopBtn.no-loop .ikonli-font-icon{
    -fx-icon-code:mdal-arrow_right_alt;
}
#loopBtn.loop-all .ikonli-font-icon{
    -fx-icon-code:mdsmz-repeat;
}
#loopBtn.loop-one .ikonli-font-icon{
    -fx-icon-code:mdsmz-repeat_one;
}


#pause .ikonli-font-icon{
    -fx-icon-code:mdmz-play_arrow;
}
#pause.playing .ikonli-font-icon{
    -fx-icon-code:mdmz-pause;
}

#test{
    -fx-preserve-ratio:true;
    -fx-image: url(../../../png/pause.png);
}

#pause .svg-url{
    -fx-scale-y:1;
    -fx-scale-x:1;
}
